DATABASE_URL="file:./porto-santo-guide.db"
NEXT_PUBLIC_MAP_STYLE_URL="https://tiles.stadiamaps.com/styles/outdoors.json"
ADMIN_API_KEY=""
ADMIN_SESSION_SECRET="replace-with-a-long-random-secret-min-32-chars"
